<%= form_with(model: atividade) do |form| %>
  <% if atividade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atividade.errors.count, "error") %> prohibited this atividade from being saved:</h2>

      <ul>
        <% atividade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="conteudo">
        <header>
            <nav>
                <ul class="nav-links1">
                    <li class="cor-branca"><a href="#">To do List Now</a></li>
                    <li class="config-link-nav">
                        <a id="hora" href="#"></a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="links">
            <div>
                <ul class="nav-links2 bg-branco">
                    <li class="borda-direita">
                      <%= link_to 'Tarefas', atividades_path, class: "cor-preta" %>
                      <%# a class="cor-preta" href="index.html">Tarefas</a> %>
                    </li>
                     <li class="borda-direita">
                        <%= link_to 'kanban', kanban_index_path, class: "cor-preta" %>
                    </li>
                    <li class="borda-direita">
                        <%= link_to 'Cadastrar Atividade', new_atividade_path, class: "cor-preta" %>
                    </li>
                    <li class="borda-direita">
                      <%= link_to "Sair",  destroy_usuario_session_path,class: "cor-preta" ,method: :delete%>
                    </li>
                </ul>
            </div>
        </section>
        <section class="tarefas">
            <div class="formulario-atividade">
                 <div class="field">
                    <%= form.label :"Nome Atividade" %>
                    <%= form.text_field :nomeAtividade, class: "form-input" %>
                  </div>

                  <div class="field">
                    <%= form.label :"Conteudo Atividade" %>
                    <%= form.text_field :conteudoAtividade, class: "form-input" %>
                  </div>

                  <div class="field">
                    <%= form.text_field :criadaPor, class: "form-input", type: :hidden %>
                  </div>

                 <div class="field">
                    <%= form.label "Pessoa Responsavel" %>
                    <select class="form-input" name="atividade[pessoaResponsavel]" id="select-usuarios">
                      <% @usuarios.each do |usuario| %>
                        <option value=<%=usuario.email%> id=<%=usuario.id%>><%=usuario.email%></option>
                     <% end %>
                    </select>
                  </div>

                  <div class="field">
                    <%= form.text_field :usuario_id,id: :atividade_usuario_id, class: "form-control", value: @usuarios[0].id, type: :hidden  %>
                  </div>

                  <div class="field">
                    <%= form.label "Estado da Atividade" %>
                    <%= form.select :estado, [["Para fazer", 0], ["Em andamento", 1], ["Feito", 2]]%>
                  </div>

                  <div class="actions">
                    <%= form.submit "Atulizar dados Atividade", class: "btn-form btn-azul" %>
                  </div>
            </div>
        </section>
    </div>
     <script>
         $( document ).ready(function() { 
            $('#select-usuarios').change(function(){
                let input = document.querySelector("#atividade_usuario_id")
                input.value = $("#select-usuarios option:selected")[0].id
            })
         });
    </script>

<% end %>

